body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2, h3 {
  color: #ffcc00;
}

a {
  color: #00ccff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

input, button {
  padding: 5px;
  margin: 5px 0;
  background-color: #222; 
  color: white;
  border: 1px solid #555;
}

form {
  margin: 15px 0;
}


