<%- include("header.ejs") %>

<h2>Register</h2>

<form action="/users/registered" method="POST">
  Username: <input type="text" name="username" required><br><br>
  First Name: <input type="text" name="first" required><br><br>
  Last Name: <input type="text" name="last" required><br><br>
  Email: <input type="email" name="email" required><br><br>
  Password: <input type="password" name="password" required><br><br>
  <button type="submit">Register</button>
</form>

<%- include("footer.ejs") %>

